.my-view{
  /* box-shadow: 0 2px 10px -6px black; */
  /* box-shadow: 0 0 23px -18px black; */
  width: 100%;
  min-width: 420px;
  padding: 20px;
  overflow-y: scroll;
}
.my-view.dark{
  background: #4c4e53;
  color: white;
}
.user-info{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 20px 0;
}
.user-img{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
} 
.user-img img{
  width: 100%;
}
.user-data{
}
.user-contact-btn button{
  width: 200px;
  height: 50px;
  border: none;
  background: #43aa71;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.dep-heading{
  font-size: 22px;
}
.features{
  display: flex;
}
.features span{
  width: 100%;
}