.home{
}
/*start search section*/
.home-main{
  
  position: relative;
}
.home img{
}
.home-search{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 30px;
  /* overflow: hidden; */
}
.home-search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(155, 155, 155, 0.3); /* Transparent white background */
  backdrop-filter: blur(7px); /* Apply blur effect */
  border-radius: 40px; /* Large border radius */
  z-index: -1;
}
.home-search div{
  position: relative;
  z-index: 1;
}
.search-filters button, .home .search-bar button{
  font-size: 18px;
  white-space: nowrap;
}
.search-filters{
  margin-top: 20px;
}
.search-filters button{
  cursor: pointer;
  border: none;
  height: 35px;
  width: 150px;

  transition: 0.5s ease;
}
.search-filters button:first-child{
  border-radius: 17.5px 0 0 17.5px ;
  border-right:solid rgb(201, 201, 201) 1px ;
}
.search-filters button:last-child{
  border-left:solid rgb(201, 201, 201) 1px ;
  border-radius: 0 17.5px 17.5px 0;
}
.search-bar{
  height: 44px;
  margin: 10px;
  display: flex;
}
.search-bar button{
  cursor: pointer;
  padding: 10px;
  min-width: 130px;
  border: none;
  border-right:solid rgb(201, 201, 201) 1px ;
  height: 100%;

  transition: 0.5s ease;
}
.search-bar .search-input{
  width: 400px;
  position: relative;
  padding: 0;
}
.search-bar input{
  height: 100%;
  width: 100%;
  padding: 15px;
  padding-right: 40px;
  font-size: 18px;
  border-radius: 0 22px 22px 0;
  border: none;
  outline: none;
} 
.search-input i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.search-bar button:first-child{
  border: none;
  background-color: #43aa71;
  color: white;
  border-radius: 22px 0 0 22px ;
}
.search-bar button:not(:first-child):hover, .search-filters button:hover{
  background-color: rgb(230, 255, 227);
} 
.search-bar button i{
  transition: 0.5s ;
}
.search-bar button:hover i{
  transform: rotateZ(180deg);
}
/*end search section*/
/*start about section*/
.home h1{
  margin-top: 40px;
  text-align: center;
  font-size: 48px;
}
.feature-container{
  
}
.provided-featur{
  max-width: 1000px;
  margin: 100px auto;
  /* box-shadow: 0 5px 17px -10px black; */
  box-shadow: 0 0 23px -18px black;

  font-size: 20px;
  display: flex;

  /* position: absolute; */
}
.provided-featur {
  animation: fadetop linear both;
  animation-timeline: view(block);
  animation-range: entry-crossing 0% cover 30%;
}
/* .provided-featur.right{
  animation: faderight ease both;
  animation-timeline: view(block);
  animation-range: entry-crossing 0% cover 30%;
} */
.provided-featur .provided-text{
  padding: 30px;
  display: flex;
  align-items: center;
}
.provided-featur img{
}

@keyframes fadeleft{
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadetop{
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}
