.card{
  width: 600px;
  height:  280px;
  /* box-shadow: 0px 2px 10px -6px black; */
  /* box-shadow: 0 0 23px -18px black; */
  display: flex;

  background: rgb(255, 255, 255);
  padding: 10px;
  position: relative;
  margin: 5px auto ;
  min-height: 200px;
  min-width: 500px;
  /* background-color: red; */
}
.remove-card{
  padding: 10px;
  margin: 5px auto ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height:  280px;
  background: rgb(255, 255, 255);

}
.card::after{
  /* position: absolute;
  content: 'rent';
  color: white;
  padding: 5px;
  width: 60px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
  background: #283593;
  box-shadow: 0 0 10px -6px black;
  left: -18px;
  top: 9px; */
}
.card.selected{
  border: #43aa71 2px solid;
  padding: 8px;

}
.card-img img{
  width: 100%;
}
.card-img{
  display: flex;
  align-items: center;
  /* height: 100%; */
  overflow: hidden;
  max-width: 45%;
  margin-right: 10px;
}
.card-data{
  width: 100%;
  display: grid;
  position: relative;
}
.card-data > div{
  max-width: calc(100% - 25px); 
}
.card-data h3{
  margin: 10px 0px;
}
.card-data p {
  color: gray;

}
.card-btns{
  display: flex;
  gap: 5px;
  align-self: flex-end;
  height: 30px;
}
.card-btns button{
  width: 100%;
  border: none;
  font-weight: 500;
  color: white;
  cursor: pointer;

}
.card-btns .card-phone-btn{
  background: black;
}
.card-btns .card-mail-btn{
  /* background: #43aa71; */
  background: var(--green);
}
.dep-features{
  color: gray;
  display: flex;
  align-items: center;
  width: 100%;
}
.dep-features span{
  width: calc(100% / 3);
  text-align: left;
}
.love-icon{
  font-size: 30px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.love-icon i{
  cursor: pointer;
}
.card.dark{
  background: #4c4e53;
  color: white;
}