.buy{
  display: flex;
  height: calc(100vh - 80px);
}
.grid-container{
  /* background: rgb(216, 224, 230); */
    background: rgb(237, 246, 252);
    min-width: 620px;
    width: 630px;
    overflow-y: scroll;
    max-height: calc(100vh - 80px);
    display: grid;
    flex-direction: column;
    /* align-items: center; */
    /* scrollbar-width: 1px; */
}

.grid-container::-webkit-scrollbar{
  width: 4px;
}
.loader {
  justify-self:center;
  width: 120px;
  height: 20px;
  -webkit-mask: radial-gradient(circle closest-side,#000 94%,#0000) left/20% 100%;
  background: linear-gradient(#43aa71 0 0) left/0% 100% no-repeat #ddd;
  animation: l17 2s infinite steps(6);
}
@keyframes l17 {
    100% {background-size:120% 100%}
}