.user-page{
  /* max-width:1000px ; */
  display: flex;
  width: 100%;
  box-shadow: 0 0 23px -18px black;
  margin: auto;
  align-items: flex-start;
}
.user-page .property-type{
  justify-self: flex-start;
}

.fav{
  height: calc(100vh - 80px);
  overflow: hidden;
}
.user-side-bar{
  position: relative;
  width: 250px;
  height: 100%;
  border-right: solid rgb(190, 190, 190) 2px;
  /* background: rgb(221, 221, 221); */
  padding: 10px;
  /* box-shadow: 0 0 23px -18px black;  */
}
.user-avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  color: gray;
}
/* .user-avatar::after{
  content: "";
  width: 100%;
  height: 2px;
  background: rgb(204, 204, 204);
  position: absolute;
  left: 0;
  top: 170px;
} */
.tasks-part{
  padding-left: 10px;
}
.user-page .add-btn{
  background: none;
  border: none;
  font-size: 50px;
  color: var(--green);
  cursor: pointer;
}
/* .radio-row input{
margin: 0 !important;
} */
.radio-row input[type="radio"] {
  display: none;
}

/* .rooms input[type="radio"]{
  display: none;
}
.rooms label.radio{
  background: var(--green);
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* Style the custom radio button */
.radio-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 0 3px -1px black;
  /* color: ; */
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the custom radio button when checked */
[type="radio"]:checked+label{
  background-color: var(--green);
  color: white;
}
.radio-row {
  display: flex;
  gap: 5px;
  width: 100%;
}
.radio-row .radio{
  width: 100%;
}
.radio .radio-button{
  display: grid;
  place-items: center;
}

.rooms{
  display: flex ;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.rooms input{
  margin-top: 0 !important;
}
.rooms-btns{
  display: flex;
  gap: 10px;
}
.rooms-btn{
  background: var(--green);
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}