.bluering{
  height: calc(100dvh - 50px);  
  z-index: 3;
  width: 100%;
  position: absolute;
  display: none;
  /* transition: ; */
}
.bluering::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  /* filter: blur(5px); */
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.685);
  
}
.side-bar{
  display: grid;
  background: white;
  padding: 10px;
  max-width: 100%;
  width: 300px;
  height: 100%;
  position: absolute;
  z-index: 6;
}
.bluering.show{
  display: block;
}
.side-bar > div{
}
.side-bar button{
  cursor: pointer;

}
.side-bar .head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.property-type-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.property-type-btns button{
  width: calc(50% - 5px);
}
.side-bar button{
  text-transform: capitalize;
  border: none;
  height: 60px;
  color: black;
  font-weight: 600;
  background: white;
  box-shadow: -1px 4px 7px -3px rgba(0,0,0,0.5);
  -webkit-box-shadow: -1px 4px 7px -3px rgba(0,0,0,0.5);
  /* box-shadow: 0 2px 7px -5px; */
  /* border-radius: 5px; */
}
.property-type button.active{
  color: white;
  background: #3aa856;
}
input[type=range] {
    /* -webkit-appearance: none; */
    width: 100%;
    margin: 10px 0;
}
/* input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #007bff;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb:first-of-type {
    z-index: 1;
} */
.side-bar.dark{
  background: #4c4e53;
  color: white;
}

.horizontal-slider{
  width: 100%;
  /* max-width: 500px; */
  height: 16px;
  margin: 10px 0px;
  /* align-items: center; */
  /* border: 1px solid grey; */
}
.example-thumb{
  width: 16px;
  height: 16px;
  background-color: var(--green);
  border-radius: 8px;
}
.example-thumb.active{
  outline: none;
  /* border: solid white 2px; */
}
.example-track{
  border-radius: 5px;
  background: rgb(204, 204, 204);
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.example-track-2{
  /* background: ; */
}
.example-track.example-track-1 {
  background: var(--green);
}
.price-box{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.price-box .price{
  text-align: center;
  color: white;
  background: var(--green);
  width: calc(50% - 5px);
  padding: 10px;
  /* border-radius: 5px; */
  /* height: 50px; */
}
.price input{
  color: white;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  text-align: center;
}
.priceSlider{
  margin: 20px 0;
}
.rooms-btns{
  display: flex;
  justify-content: space-between;
}

.side-bar-rooms {

}
.side-bar-rooms button.active{
  color: white;
  background: #3aa856;
}
.side-bar-rooms button{
  font-size: 18px;
  width: calc(25% - 5px);
}
.apply-filters {
  /* margin-top: auto; */
  /* justify-self: end; */
  width: 100%;
  align-self: end;
}
.apply-filters button{
  width: 50%;
  font-size: 20px;
  letter-spacing: 2px;
  /* margin-top: ; */
}
.apply-filters :nth-last-child(1){
  background: #0b0f1f;
  color: white;
}
.rooms-features li{
  list-style: none;
}
.sidebard-close{
  /* display: none; */
  box-shadow: none !important;
  /* width: auto !important;
  height: auto !important; */
  position: absolute;
  right: 0px;
  height: 25px !important;
  width: 25px !important;
}
@media screen and (max-width: 1255px) {
  
  .sidebard-close{
    /* display: none; */
  }
  .side-bar.big{
    /* left: -300px; */
    position: absolute;
    width: 300px;
  }
  .side-bar.hideable{
    left: 0;
    /* display: none; */
  }
  .side-bar.small{
    height: auto;
    display: block;
    margin: 0px 10px;
  }
  .side-bar.small .property-type-btns{
    flex-wrap: wrap;
    /* gap: 3px; */
  }
  .side-bar.small .property-type-btns button{
    box-shadow: none;
    border: 1px solid var(--green);
    border-radius: 5px;
    /* width: 100%; */
  }
  .side-bar.small .apply-filters{
    /* width: 150px; */
    margin-top: 5px; 
  }
  .priceSlider{
    margin: 10px 0;
  }
}


