*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montaserrat','Almarai', sans-serif;
}
#root {
  /* height: calc(100% - 85px); */
  min-height: 100svh;
}
body{
}
.home{
}
body::-webkit-scrollbar{
  height: 0;
  }
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #3aa85549;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3aa856; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green); 
}